certifi==2017.7.27.1
chardet==3.0.4
idna==2.5
protobuf==3.3.0
py==1.4.34
pycrypto==2.6.1
PyJWT==1.5.2
PySocks==1.6.7
pytest==3.2.1
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.3
six==1.10.0
slack-logger==0.2.0
twilio==6.5.1
urllib3==1.24.2
yowsup2==2.5.2
